:root {
    --primary-color: #ffd167;
    --secondary-color: #FF9229;
    --black: #1c1713;
    --white: #e2dbd2;
    --black-hover :#333333;
  }

  @font-face {
    font-family: 'Super Carnival';
    src: url('@/assets/fonts/Super Carnival.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    user-select: none;
  }

  
  @font-face {
    font-family: 'Bevellier-Regular';
    src: url('../fonts/Bevellier-Regular.woff2') format('woff2'),
        url('../fonts/Bevellier-Regular.woff') format('woff'),
        url('../fonts/Bevellier-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
    font-family: 'Bevellier-Regular', sans-serif;
    font-size: 1rem;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--black);
  }

  .section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .section-content {
    text-align: center;
  }
  
  .section h2 {
    font-family: 'Super Carnival', sans-serif;
    font-size: 3rem;
    color: var(--black);
  }

  .section h1 {
    font-family: 'Super Carnival', sans-serif;
    font-size: 4rem;
    color: var(--black);
    margin-bottom: -10px;
  }
  
  .content {
    font-size: 1.2rem;
    max-width: 800px;
    color: var(--black);
  }
  
  @media (max-width: 768px) {
    .section h2 {
      font-size: 2rem;
      user-select: none;
    }
  
    .content {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .section h2 {
      font-size: 1.5rem;
    }
  
    .content {
      font-size: 0.9rem;
    }
  }

  img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .text-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .img-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  h3 {
    font-family: 'Super Carnival', sans-serif;
    font-size: 2rem;
    color: var(--black);
  } 

  a {
    text-decoration: none;
    color: var(--black);
    position: relative;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Hauteur de la ligne */
    background-color: var(--secondary-color); /* Couleur de la ligne */
    bottom: -3px; /* Position sous le texte */
    left: 50%;
    transition: width 0.4s ease, left 0.4s ease;
  }
  
  a:hover::after {
    width: 100%; /* La ligne prend toute la largeur du texte */
    left: 0; /* La ligne commence à l'extrémité gauche du texte */
  }
  
  a:hover {
    color: var(--secondary-color); /* Change la couleur du texte au survol */
    cursor: pointer;
  }
  

  