:root {
    --primary-color: #ffd167;
    --secondary-color: #FF9229;
    --black: #1c1713;
    --white: #f8e8cf;
    --green: #77966D;
    --black-hover :#333333;
    --swiper-pagination-color: #FF9229;
    --red : #cf4b2b;
    --red-clear : #db5837;
    --margin : 1.5rem;
  }

  @media (max-width: 768px) {
    :root {
      --margin: 1rem;
    }
  }
  
  * {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 1rem;
  }

  html, body {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
  }

  h1 {
    font-family: 'Helvetica', sans-serif;
    font-size: 8rem;
    color: var(--black);
  }

  h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 4rem;
    color: var(--black);
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 2.2rem;
      user-select: none;
    }

    h1{
      font-size: 1rem;
    }
  
    .content {
      font-size: 1rem;
    }
  }

  h3 {
    font-family: 'Helvetica', sans-serif;
    font-size: 2rem;
    color: var(--black);
  } 

  input,
  select,
  textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  input, select {
    border: none;
    border-bottom: 1px solid var(--black); 
    background: none;
    box-shadow: none;
    transition: border-color 0.3s ease;
    background-color: none;
  }

  textarea:focus{
    outline: none;
    border-color: var(--secondary-color);
  }
  
  input:focus,
  select:focus
 {
    outline: none;
    border-color: var(--secondary-color);
    background-color: none;
  }
  
  input[disabled],
  select[disabled],
  textarea[disabled] {
    background-color: transparent;
    cursor: not-allowed;
    opacity: 0.5;
  }